.hero_wrapper {
    height: 500px;
    overflow: hidden;

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .hero_con {
        display: flex;
        justify-content: space-between; /*กำหนดให้อยู่ระหว่างซ้ายและขวา*/
        margin-top: 115px;

        & .text_1 {
            font-size: 32px;
        }

        & .text_2 {
            font-size: 64px;
            font-weight: bold;
            color: #0085FF;
        }

        & .text_3 {
            font-size: 32px;
            margin-top: 10px;
        }

        & .text_4 {
            font-size: 20px;
            margin-top: 25px;
            width: 850px;
        }

        & .hero_social {
            display: flex;
            list-style: none; /*เอาจุดไข่ปลาด้านหน้าออก */
            margin-top: 35px;

            & li {
                margin-right: 23px;

                & svg {
                    width: 32px;
                    height: 32px;
                    color: #333;
                }
            }
        }

        & .hero_img {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            background-image: url('https://scontent.fbkk12-6.fna.fbcdn.net/v/t39.30808-6/494547650_10223394403728752_9214302226184197489_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=WZD3Qe0JagMQ7kNvwHfLCy6&_nc_oc=AdlfHaNHTYyPoCjTJBcDckynm1raJg3n8nuWit-bN_0ATpRk5kr21lyLGv-DEJmifXG_z3Jru8kCgZm4yoIhJVUM&_nc_zt=23&_nc_ht=scontent.fbkk12-6.fna&_nc_gid=qgqGEbGbzcLAa0BaXCPmmQ&oh=00_AfK7zt5XNGwjbul55BmHUwtfPExcVH3QL1KZexicUxw-hg&oe=6844EB2E');
            background-size: cover;
            background-position: center;
            /* margin-right: 120px; */
        }
    }
}

@media screen and (max-width: 480px) {
    .hero_wrapper{
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .hero_info {
                width: 100%;
            }

            & .hero_img {
                width: 200px;
                height: 200px;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
    }
    
}
