.contact_wrapper {
    height: 100%;
    min-height: 500px;
    background-color: #0085FF;
    color: #fff;
    overflow: hidden;

    & .contact_con {
        width: 100%;
        max-width: 1170px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        /* outline: 1px solid red; */

        & .contact_info {
            width: 100%;
            max-width: 420px;
            gap: 10px;

            & h3 {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            & .contact_desc,
            .contact_address {
                margin-bottom: 20px;
            }



            & .contact_phone {
                margin-top: 30px;
                display: flex;
                align-items: center;
                font: 16px;

                & svg {
                    color: #fff;
                    margin-right: 14px;
                    /* outline: 1px solid red; */

                }
            }

            & .contact_email {
                margin-top: 20px;
                display: flex;
                align-items: center;
                font: 16px;
                /* outline: 1px solid red; */
                
                & svg {
                    color: #fff;
                    margin-right: 14px;
                    /* outline: 1px solid red; */
                   
                }
            }
        }

        & .contact_from {
            width: 100%;
            max-width: 520px;

            & label {
                display: block;
                margin: 10px 0;
                font-size: 14px;
                /* outline: 1px solid red; */
            }

            & .input_group {
                display: flex;
                justify-content: space-between;

                & input[type="text"] {
                    width: 250px;
                    height: 40px;
                    border-radius: 5px;
                    /* โค้ง */
                    padding: 15px;
                    /* ขอบด้านใน */
                    border: none;
                    /* ไม่มีเส้นขอบ */
                    outline: none;
                    /* ไม่มีเส้นขอบเมื่อคลิก */
                }
            }

            & input[type="email"] {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                /* โค้ง */
                padding: 15px;
                /* ขอบด้านใน */
                border: none;
                /* ไม่มีเส้นขอบ */
                outline: none;
                /* ไม่มีเส้นขอบเมื่อคลิก */
            }

            & textarea {
                width: 100%;
                height: 100px;
                border-radius: 5px;
                padding: 15px;
                border: none;
                outline: none;
            }

            & button {
                width: 100px;
                height: 40px;
                border-radius: 5px;
                background-color: #fff;
                border: none;
                margin-top: 20px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0.3);
                }

            }
        }
    }

}

@media screen and (max-width: 480px) {
    .contact_wrapper {
        height: auto;

        & .contact_con {
            flex-direction: column;
            margin: 50px 0;
            

            & .contact_info {
                width: 100%;
                padding: 30px;
                
            }

            & .contact_from {
                width: 100%;
                padding: 20px;

                & .input_group {
                    flex-direction: column;

                    & input[type="text"] {
                        width: 100%;
                    }
                }

                & button {
                    width: 100%;
                }

            }
        }
    }
}