footer {
    text-align: center;
    width: 100%;
    display: block;
}

@media screen and (max-width: 480px) {
    footer {
        text-align: center;
        width: 100%;
        display: block;
    }

}