footer {
    text-align: center;
    width: 100%;
    display: block;
    margin: 20px 0;
}

@media screen and (max-width: 480px) {
    footer {
        text-align: center;
        width: 100%;
        display: block;
        margin: 20px 0;
    }

}