footer {
    text-align: center !important;
    width: 100% !important;
    display: block !important;
}

@media screen and (max-width: 480px) {
    footer {
        text-align: center !important;
        width: 100% !important;
        display: block !important;
    }

}
